body{
    padding: 0;
    margin: 0;
    background-size: 2000px 1500px;
    background-color: rgb(163, 163, 168);  
}


AdminLogin{
	
	text-align : right;
}
h1{
    font-size: 30pt;
    text-align: center;
    color:rgb(3, 2, 3);
}

h2{
    font-size: small;
    color: black;
}

div.logo {
    margin-top: 20pt;

  }

  div.login {
      margin-top: 20px;
    
  }